NODE_ENV=development
APP_NAME=chat-ops-deploy
DEBUG=app:debug
PORT=5000
LOG_OUT=1
TZ=Africa/Lagos


MONGODB_URL=mongodb://127.0.0.1:27017
#MONGODB_URL=mongodb://root:MongodbPassword12345@194.32.79.110:27017
DATABASE_NAME=chat_ops_deploy

###Logs
LOG_LEVEL=debug

###Slack
SLACK_BASE_URL=https://slack.com
SLACK_TOKEN=xoxb-6093932789255-6121271250833-Ts9bqiqU0Q1MCBl5NGZAy5NG


##Circle
CIRCLE_CI_TOKEN=CCIPAT_9bbjiQBetBr7WzU7p58fBt_d5cb1e58d7df4e257c6b7671f704ad40a44361cb
